<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ALSScript-Regular.ttf</string>
		<string>AauxNext-Regular.ttf</string>
		<string>AlfaSlab-Regular.ttf</string>
		<string>Bebas-Regular.ttf</string>
		<string>Benthem-Regular.ttf</string>
		<string>Blackout-Regular.ttf</string>
		<string>Blanch-Regular.ttf</string>
		<string>Century-Regular.ttf</string>
		<string>CenturyGothic-Regular.ttf</string>
		<string>DINPro-Bold.ttf</string>
		<string>DINPro-Regular.ttf</string>
		<string>Deconeue-Regular.ttf</string>
		<string>Eraser-Regular.ttf</string>
		<string>Fugaz-Regular.ttf</string>
		<string>Futura-Regular.ttf</string>
		<string>FuturaCondensed-Regular.ttf</string>
		<string>FuturaMedium-Regular.ttf</string>
		<string>Infinity-Regular.ttf</string>
		<string>JennaSue-Regular.ttf</string>
		<string>Jigsaw-Regular.ttf</string>
		<string>Lanenar-Regular.ttf</string>
		<string>LeagueGothic-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>Metropolis-Regular.ttf</string>
		<string>NanumGothic-Regular.ttf</string>
		<string>Nixie-Regular.ttf</string>
		<string>NotCourierSans-Regular.ttf</string>
		<string>SketchBlock-Regular.ttf</string>
		<string>Titan-Regular.ttf</string>
		<string>ABeeZee-Italic.ttf</string>
		<string>ABeeZee-Regular.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>AlmendraSC-Bold.ttf</string>
		<string>AlmendraSC-BoldItalic.ttf</string>
		<string>AlmendraSC-Italic.ttf</string>
		<string>AlmendraSC-Regular.ttf</string>
		<string>ArchivoNarrow-Bold.ttf</string>
		<string>ArchivoNarrow-BoldItalic.ttf</string>
		<string>ArchivoNarrow-Italic.ttf</string>
		<string>ArchivoNarrow-Regular.ttf</string>
		<string>BadScript-Regular.ttf</string>
		<string>Bevan-Regular.ttf</string>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>Boogaloo-Regular.ttf</string>
		<string>CabinSketch-Bold.ttf</string>
		<string>CabinSketch-Regular.ttf</string>
		<string>Calligraffitti-Regular.ttf</string>
		<string>Cantarell-Bold.ttf</string>
		<string>Cantarell-BoldOblique.ttf</string>
		<string>Cantarell-Oblique.ttf</string>
		<string>Cantarell-Regular.ttf</string>
		<string>CherryCreamSoda-Regular.ttf</string>
		<string>Chewy-Regular.ttf</string>
		<string>Codystar-Regular.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>Copse-Regular.ttf</string>
		<string>Damion-Regular.ttf</string>
		<string>DidactGothic-Regular.ttf</string>
		<string>Diplomata-Regular.ttf</string>
		<string>Economica-Bold.ttf</string>
		<string>Economica-BoldItalic.ttf</string>
		<string>Economica-Italic.ttf</string>
		<string>Economica-Regular.ttf</string>
		<string>Enriqueta-Bold.ttf</string>
		<string>Enriqueta-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>Gabriela-Regular.ttf</string>
		<string>GildaDisplay-Regular.ttf</string>
		<string>Glegoo-Regular.ttf</string>
		<string>Graduate-Regular.ttf</string>
		<string>GrandHotel-Regular.ttf</string>
		<string>Handlee-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>KaushanScript-Regular.ttf</string>
		<string>KellySlab-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Limelight-Regular.ttf</string>
		<string>LovedbytheKing-Regular.ttf</string>
		<string>LoversQuarrel-Regular.ttf</string>
		<string>LuckiestGuy-Regular.ttf</string>
		<string>Lustria-Regular.ttf</string>
		<string>MaidenOrange-Regular.ttf</string>
		<string>MarcellusSC-Regular.ttf</string>
		<string>Merienda-Bold.ttf</string>
		<string>Merienda-Regular.ttf</string>
		<string>Miltonian-Regular.ttf</string>
		<string>Monoton-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>Niconne-Regular.ttf</string>
		<string>Oldenburg-Regular.ttf</string>
		<string>OleoScript-Bold.ttf</string>
		<string>OleoScript-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Oranienbaum-Regular.ttf</string>
		<string>Oregano-Italic.ttf</string>
		<string>Oregano-Regular.ttf</string>
		<string>Orienta-Regular.ttf</string>
		<string>OriginalSurfer-Regular.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Ovo-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>Parisienne-Regular.ttf</string>
		<string>Playball-Regular.ttf</string>
		<string>PoiretOne-Regular.ttf</string>
		<string>Pompiere-Regular.ttf</string>
		<string>Questrial-Regular.ttf</string>
		<string>Rancho-Regular.ttf</string>
		<string>RopaSans-Italic.ttf</string>
		<string>RopaSans-Regular.ttf</string>
		<string>Ruluko-Regular.ttf</string>
		<string>RumRaisin-Regular.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>Sanchez-Italic.ttf</string>
		<string>Sanchez-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>ShortStack-Regular.ttf</string>
		<string>Sofia-Regular.ttf</string>
		<string>SquadaOne-Regular.ttf</string>
		<string>SueEllenFrancisco-Regular.ttf</string>
		<string>Unkempt-Bold.ttf</string>
		<string>Unkempt-Regular.ttf</string>
		<string>VastShadow-Regular.ttf</string>
		<string>Viga-Regular.ttf</string>
		<string>Arial-Bold.ttf</string>
		<string>Arial-BoldItalic.ttf</string>
		<string>Arial-Italic.ttf</string>
		<string>Arial-Regular.ttf</string>
		<string>ComicSansMS-Bold.ttf</string>
		<string>ComicSansMS-Regular.ttf</string>
		<string>CourierNew-Bold.ttf</string>
		<string>CourierNew-BoldItalic.ttf</string>
		<string>CourierNew-Italic.ttf</string>
		<string>CourierNew-Regular.ttf</string>
		<string>Georgia-Regular.ttf</string>
		<string>Helvetica-Regular.ttf</string>
		<string>Impact-Regular.ttf</string>
		<string>Tahoma-Regular.ttf</string>
		<string>TimesNewRoman-Bold.ttf</string>
		<string>TimesNewRoman-BoldItalic.ttf</string>
		<string>TimesNewRoman-Italic.ttf</string>
		<string>TimesNewRoman-Regular.ttf</string>
		<string>TrebuchetMS-BoldItalic.ttf</string>
		<string>TrebuchetMS-Regular.ttf</string>
		<string>Verdana-Regular.ttf</string>
	</array>
</dict>
</plist>
